body {
	margin: 0px;
}
a:link,a:visited {
    color: #404040;
    text-decoration: none;
}
a:hover,a:active {
    color: #ffffff;
    text-decoration: none;
}
.logo_login {
 	width:45%;
 	text-align:center;
 	margin-left:25%;
 	margin-top: 5%;
 }
 #footer
 {
 	font-size: 12px;
 }
 .footer {
     background-image: linear-gradient(#F4F4F4,#dddddd);
 
 	padding-left: 10px;
 	padding: 5px;
  
    font-size: 12px;
 	color: #0E2D5F;
 }
 .footer span {
 	margin-left: 10px;
 }
.easyui-tree a:link,a:visited,a:active {
	color: #000;
	text-decoration: none;
}
.easyui-tree a:hover{
	color: #444;
	text-decoration: none;
}
#main_layout { padding: 0px;}
#menu_formsd44 {
	 background:#EAEAEA;
	 padding:5px;
	 border-bottom:2px solid #EEE;
}

[class*="col-"] {
    float: left;
    padding: 2px;
   
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 29%;}
.col-4 {width: 32%;}
.col-5 {width: 47%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 99%;}
.textbox-label {
    display: inline-block;
    width: 120px;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding-right: 5px;
   
}
